# Tuples

In [1]:
t = (1,2,3,4)
type(t)

tuple

In [2]:
t = ('hello',5,5.5)
t

('hello', 5, 5.5)

In [3]:
len(t)

3

In [4]:
t2 = 1,2,3,4 #even if you dont put the brackets then its type is also a tuple
type(t2)

tuple

In [5]:
t1 = ('hello',5,5.5,[2,3,4]) #a tupple can have a nested tuple and also a tuple can have a nested list inside it

In [6]:
len(t1)

4

In [7]:
type(t1)

tuple

In [8]:
t2 = ('hello',5,5.5,(2,3,4))
len(t2)

4

In [10]:
var = t1[3]
type(var)

list

In [11]:
t1[3]

[2, 3, 4]

In [12]:
type(t1[3])

list

In [13]:
var[1]

3

In [15]:
#this is how you access the nested list or nested tuple
t1[3][1]

3

In [16]:
t2[3][1]

3

In [17]:
type(t2[3][1])

int

In [18]:
t1 = 1,2,3,4,5
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [19]:
t1 = 1.2,
type(t1)

tuple

In [20]:
len(t1)

1

In [21]:
t2 = (2,)
type(t2)

tuple

In [22]:
t2 = 1,
print(t2)

(1,)

In [24]:
#this is not a tuple because we have put only one value inside the brackets
#if i want it to be a tuple i have to put 2, not only 2 even if it is inside brackets
t5 = (1)
type(t5)

int

### indexing in tuple

In [25]:
t = ('alex',10,'python',100)

In [26]:
print(t[0])
print(t[1])
print(t[2])
print(t[3])

alex
10
python
100

In [27]:
len(t)

4

In [29]:
t[1:]

(10, 'python', 100)

In [34]:
t[0:3] #the last value like in this example 3 this index is not inclusive
#so it will get data from 0 to 2 only

('alex', 10, 'python')

In [31]:
str1 = "hello world"
str1[6:]

'world'

### slicing

In [36]:
t = ('alex',10,'python',100)
t[0:2]

('alex', 10)

In [37]:
t[2:]

('python', 100)

In [38]:
t[-2:]

('python', 100)

In [39]:
t[2:4]

('python', 100)

### concatenation

In [41]:
tup1 = ("welcome","to","today's")
tup2 = ("class","on","python")
tup3 = tup1+tup2
print(tup3)

('welcome', 'to', "today's", 'class', 'on', 'python')

### min max sum functions

In [48]:
t= (2,4,6,8)
print(sum(t))
print(max(t))
print(min(t))

20
8
2

In [45]:
t = (2,4,6,"hello")
sum(t) 
#i can't use min max sum with a string inside the tuple

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [47]:
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
tuple1 = (1,2,3,4,"hello","world",(1,2,3))
len(tuple1)

7

In [54]:
print(tuple1[-1][1])
print(tuple1[6][1])
print(tuple1[-1][-2])
print(tuple1[6][-2]) #basically they all mean the same

2
2
2
2

In [53]:
tuple2 = (1,2,3)
tuple2[1]

2

### immutability

In [55]:
t = ("hello!","welcome",5,10,"world","of","analytics")

In [56]:
t[3]

10

In [58]:
t[3] = 5 #this is immutability that i can't change the value at a certain index once it was already entered

TypeError: 'tuple' object does not support item assignment

In [59]:
t[0:2]

('hello!', 'welcome')

In [60]:
t[-3:]

('world', 'of', 'analytics')

In [62]:
new_tuple = t[0:2]+("to","the") +t[-3:]

In [63]:
#how to update the 2nd and 3rd element
new_tuple

('hello!', 'welcome', 'to', 'the', 'world', 'of', 'analytics')

In [65]:
t = ("disco",12,4.5)
t[0][2] #i can get letters if i deal with the string as a nested tuple or list

's'

### sorting a tuple

In [68]:
t = (2,3,8,5,4,1)
new_var = sorted(t)
print(new_var)
print(type(new_var)) 
#why does it turn into a list ?
#lists are mutable but tuples are not
#in sorting we are changing the values inside each index and this is not possible since tuples are immutable
#so basically we have to change the data type to a list so that we can move the numbers and sort it bec as i mentioned earlier 
#list are mutable then we can transform it back into a tuple

[1, 2, 3, 4, 5, 8]
<class 'list'>

In [67]:
new_list = sorted(t)
new_list

[1, 2, 3, 4, 5, 8]

In [69]:
#type casting
t2 = tuple(new_list)
type(t2)

tuple

In [70]:
t2

(1, 2, 3, 4, 5, 8)

In [71]:
#question 1
t = (1,2,4,3)
#what will be the output of t[4]
t[4]

IndexError: tuple index out of range

In [74]:
#question 2
#which of the following declarations can be used to create a python tuple
x=('2')
print(type(x))
x=1,2,
print(type(x))
x = ((1,2,3),4,5)
print(type(x))
#x = (hello,'2','3') this one is syntax error
#print(type(x))

<class 'str'>
<class 'tuple'>
<class 'tuple'>