# Lists:
  - Lists are ordered sequence of mixed data types
  - Lists are written in comma seperated elements within square brackets

In [1]:
list1 = ["india",5,"nour"]
list1

['india', 5, 'nour']

In [2]:
print(len(list1))

3

In [3]:
print(type(list1))

<class 'list'>

In [5]:
custInfo = ["nour",23,"alex",1000,5000,"xyz"]

In [6]:
type(custInfo)

list

In [7]:
custInfo_new = ("nour",23,"alex",1000,5000,"xyz")
type(custInfo_new)

tuple

In [11]:
custInfo

['nour', 23, 'alex', 1000, 5000, 'xyz']

In [12]:
custInfo_new

('nour', 23, 'alex', 1000, 5000, 'xyz')

In [14]:
list2 = ["nour","egy",5,10,["nourn",7,8,"custom"]]
len(list2)

5

In [15]:
list2

['nour', 'egy', 5, 10, ['nourn', 7, 8, 'custom']]

In [16]:
list2[-1][1] #Indexing

7

In [17]:
list2[4][1] #Indexing

7

In [18]:
list2[0] #Indexing

'nour'

In [19]:
#slicing
list2[-1]

['nourn', 7, 8, 'custom']

In [21]:
#list concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1+list2

print(len(new_list))
print(new_list)

8
[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
#membership in lists & tuples
tuple3 = (1,2,3,4)
print(1 in tuple3)
print(5 in tuple3)

True
False

In [23]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

In [25]:
#mutability

list1 = ["maths","physics","chem"]
list1[2] = 'computer science'
list1

['maths', 'physics', 'computer science']

In [26]:
#extend function --> it extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
print(len(list1))
print(list1)

6
[1, 2, 3, 4, 5, 6]

In [27]:
#append does nearly the same thing but whatever inside the bracket is going to be 
#inserted as it is so in the following exmple it will add a new list inside our original list
list1 = [1,2,3,4]
list1.append([5,6])
print(len(list1))
print(list1)

5
[1, 2, 3, 4, [5, 6]]

In [28]:
#del command
list1 = [1,2,3,4]
del list1[2]
list1

[1, 2, 4]

In [29]:
#pop() - deletes the object based on the index value
# default --> removes the last element 

list1 = [11,22,33,44]
list1.pop(2)
list1

[11, 22, 44]

In [30]:
list1 = [11,22,33,44]
list1.pop()
list1

[11, 22, 33]

In [31]:
#remove we give it a value not an index
list1 = [11,22,33,44]
list1.remove(22)
list1

[11, 33, 44]

In [34]:
#sort 
A= [9,5,2,1,234,7]
A.sort()
A

[1, 2, 5, 7, 9, 234]

In [35]:
A.sort(reverse=True)
A

[234, 9, 7, 5, 2, 1]

### difference between sort and sorted

In [36]:
A = ["oranges","strawberry","mango"]
B = A.sort()
print(A)
print(B)

['mango', 'oranges', 'strawberry']
None

In [38]:
A = ["oranges","strawberry","mango"]
A.sort()
A

['mango', 'oranges', 'strawberry']

In [39]:
#sorted creates another object after sorting and store it in the new variable
A = ["oranges","strawberry","mango"]
B = sorted(A)
print(A)
print(B)

['oranges', 'strawberry', 'mango']
['mango', 'oranges', 'strawberry']

In [40]:
#shallow copy makes another A but you can call B but if you did anyhting then the other will have the same thing as well
A = ["oranges","strawberry","mango"]
B=A 
print(B)
print(A)

['oranges', 'strawberry', 'mango']
['oranges', 'strawberry', 'mango']

In [41]:
A.pop()

'mango'

In [42]:
print(B)
print(A)

['oranges', 'strawberry']
['oranges', 'strawberry']

In [43]:
#not a shallow copy
A = ["oranges","strawberry","mango"]
B= A [0:3]
print(B)
print(A)

['oranges', 'strawberry', 'mango']
['oranges', 'strawberry', 'mango']

In [44]:
A.pop()

'mango'

In [45]:
print(B)
print(A)

['oranges', 'strawberry', 'mango']
['oranges', 'strawberry']

In [48]:
input_str = 'kumar_ravi_003'
print(input_str[0:5]) #[0:5] 5 is not inclusive so it will get me from 0 to 4
print(input_str[6:10])
print(input_str[11:14])

kumar
ravi
003

In [51]:
input_str.split('_')

['kumar', 'ravi', '003']