# Sets

- sets are a type of collection like lists,tuples storing mixed data
- sets are enclosed within curly brackets and elements are written as comma-seperated
- sets are unordered
- sets does not allow duplicates

In [1]:
list1 = [1,2,3,4,5,6,5,7,2,2,2,3]
type(list1)

list

In [2]:
len(list1)

12

In [3]:
set1 = set(list1)

In [4]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [5]:
len(set1)

7

In [6]:
list2 = ['a','b','c','a','b','c','a','b','c','d','e']
set2 = set(list2)
print(set2)
print(len(set2))
print(type(set2))

{'b', 'd', 'e', 'c', 'a'}
5
<class 'set'>

In [7]:
list1=[1,2,3,4,5]
set1 = set(list1)
set1

{1, 2, 3, 4, 5}

In [8]:
list1 = [1,2,3,4,5,5,5,5,5,5]
set1=set(list1)
set1

{1, 2, 3, 4, 5}

In [9]:
set3 = {1,2,3,4,4,7,6,8}
set3

{1, 2, 3, 4, 6, 7, 8}

In [13]:
set4 = set({})

In [14]:
set4

set()

In [15]:
type(set4)

set

In [16]:
set2 = {1,2,3,4,5}
set2.add("india")
set2

{1, 2, 3, 4, 5, 'india'}

In [18]:
set2.add(india) #because india is already included in the set so i cannot add it
set2

NameError: name 'india' is not defined

In [19]:
set2.remove('india')
set2

{1, 2, 3, 4, 5}

### set operations

In [20]:
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [21]:
#union 
print(A|B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [22]:
#intersection
print(A&B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [24]:
#difference
#explanation of difference quickly if i have A-B then it will be
# {0,2,4,6,8} - {1,2,3,4,5}
# so we ignore the second set and we see what is common between the 2 sets in this case 2 & 4
#and then the rest of the values from the first set remain as they are {0,6,8}
#after removing the intersected values from set(A)
# if we made B-A then the answer will be {1,3,5}
print(A-B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [26]:
#symmetric difference 
#this one combines the 2 sets and remove the intersected elements
print(A^B)

{0, 1, 3, 5, 6, 8}

### practice codes

In [27]:
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5,1,7,2]

setA = set(A)
setB = set(B)

In [28]:
setA.intersection(setB)

{1, 3, 5, 7}

In [30]:
answer = list(setA.intersection(setB))
print(sorted(answer))

[1, 3, 5, 7]

In [31]:
a = {1,2,3,4,5,6}
b = {0,1,2,10,11}

(a.union(b)).difference(a.intersection(b))

{0, 3, 4, 5, 6, 10, 11}